<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <!--{% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}-->

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">View <strong>Github</strong></a></li>
          <li><a href="{{ site.linkedin }}">Follow me <strong>LinkedIn</strong></a></li>
          <li><a href="{{ site.email }}">Contact me <strong>Email</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      <h1>Portfolio</h1>

      <h2>About Me</h2>
      <p>
         A final-year Bachelor of Information Technology (BIT) student with a strong foundation in Information Assurance and Security (IAaS) complemented by a minor in Business Intelligence and Analytics (BIA). Passionate about creating robust and secure digital environments. As an active participant in university life, I have consistently engaged in collaborative projects, demonstrating my strong team-player ethos. With a passion for continuous learning, I eagerly embrace new challenges to expand my skill set and contribute effectively to both academic and extracurricular initiatives. 
      </p>
  
      <!--<h2>Skills</h2>
      <h3>Web Development</h3>
      <ul>
          <li>HTML, CSS, JavaScript</li>
          <li>PHP and Laravel</li>
      </ul>

      <h3>Data</h3>
      <ul>
          <li>SQL, PL/SQL</li>
      </ul>

      <h3>Cybersecurity</h3>
      <ul>
          <li>Risk Management</li>
          <li>IT Audit</li>
      </ul>-->
  
      <h2>Projects</h2>

      <h3>FYP Project: <a href="https://github.com/alyah0011/Muar-in-Motion">Muar-in-Motion</a></h3>
      <p>
         Muar-in-Motion, initiated by The Muara (FG 21) under IIUM's Flagship Project in collaboration with KLM and Tanjung Kunang Enterprise, aims to boost the tourism industry in Muar. The project focuses on developing an intuitive web application offering essential information on tourist attractions, transportation, and accommodation. The platform also facilitates seamless communication among visitors and provides a well-organized event page for trip planning.
      </p>

      <h3><a href="https://github.com/alyakamran/voting-dApp">Blockchain Voting dApp</a></h3>
      <p>
           The election and voting system, crucial for democratic processes, faces challenges like fraud and data tampering. To address these issues, a blockchain-based voting dApp is proposed. By leveraging blockchain's security features, the dApp aims to enhance transparency, security, and tamper-resistance, providing a decentralized infrastructure to mitigate risks of manipulation and ensuring a more trustworthy and democratic electoral experience.
      </p>
        
      <h3><a href="https://github.com/alyah0011/WAD-project-Group2">Healthcare System</a></h3>
      <p>
          HealthWeb Systems assists a newly opened clinic in implementing a web-based registration system, replacing manual registration to improve patient tracking and service management. Aligned with Sustainable Development Goals (SDGs) 3 and 9, the system aims to enhance health coverage, provide access to medicines, and contribute to technological progress for a more interconnected and prosperous clinic.
      </p>
  
      <h3><a href="https://github.com/alyah0011/Donation-Hub">Donation Hub</a></h3>
      <p>
          The project aims to create a website, "Donation Hub," centered around the theme of "Organisation" to address Sustainable Development Goals such as No Poverty, Zero Hunger, and Good Health and Well-being. The organized flow includes a homepage with project goals, a "Catalogue" for item donations, a "Volunteer" page for registrations, a "News" page for charity events, and a "Contact Us" page for inquiries and communication channels. 
      </p>
        
      <h3><a href="https://github.com/alyah0011/Goldilocks-Adventure-Game">Goldilocks Adventure Game</a></h3>
      <p>
           Our game, Goldilocks’ Adventure, provides a unique twist on the classic folk-lore tale of Goldilocks and The Three Bears. Players have the opportunity to help Goldilocks rectify her mistakes, teaching them the importance of taking responsibility for one's actions and making amends. The game offers an enjoyable experience for players of all ages with a meaningful and educational message.
      </p>
  
      <h2>Certifications</h2>
      <ul>
          <li>CISCO: CCNAv7 Introduction to Networks</li>
          <li>Security Blue Team: Introduction to Threat Hunting</li>
         <li>Security Blue Team: Introduction to Digital Forensics</li>
      </ul>
  
      
  
    

      </section>
      <footer>
        <br><br>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <!--<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
