<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">View <strong>Github</strong></a></li>
          <li><a href="{{ site.linkedin }}">Follow me <strong>LinkedIn</strong></a></li>
          <li><a href="{{ site.email }}">Contact me <strong>Email</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      <h1>Portfolio</h1>

      <h2>About Me</h2>
      <p>
          I am a cybersecurity student with a keen interest in web development. Currently pursuing a Bachelor's degree in IT at International, I bring a unique blend of skills in both web development and cybersecurity. My goal is to contribute to secure and efficient web applications, implementing best practices for a robust online environment.
      </p>
  
      <h2>Skills</h2>
      <h3>Web Development</h3>
      <ul>
          <li>HTML, CSS, JavaScript</li>
          <li>PHP and Laravel</li>
          <li>Risk Management</li>
          <li>IT audit</li>
      </ul>
  
      <h2>Projects</h2>
      <h3>Project 1: <a href="[Link to the project repository or live demo]">Web Application Security</a></h3>
      <p>
          Description: Detail your involvement in securing a web application, including tools used, vulnerabilities addressed, and security measures implemented.
      </p>
  
      <h3>Project 2: <a href="[Link to the project repository or live demo]">E-commerce Website</a></h3>
      <p>
          Description: Highlight your role in developing a secure e-commerce website, emphasizing secure authentication, data protection, and secure payment processing.
      </p>
  
      <h2>Certifications</h2>
      <ul>
          <li>Certified Ethical Hacker (CEH)</li>
          <li>[Any other relevant certifications]</li>
      </ul>
  
      <h2>Blog</h2>
      <p>
          I share insights on web development and cybersecurity on my blog. Explore some of my recent posts:
      </p>
      
      <ul>
          <li><a href="[Link to Blog Post 1]">Blog Post 1 Title</a></li>
          <li><a href="[Link to Blog Post 2]">Blog Post 2 Title</a></li>
      </ul>
  
      <h2>Contact Information</h2>
      <ul>
          <li>LinkedIn: <a href="[Your LinkedIn Profile URL]">Your LinkedIn Profile</a></li>
          <li>Twitter: <a href="https://twitter.com/YourTwitterHandle">@YourTwitterHandle</a></li>
          <li>Email: <a href="mailto:[Your Email Address]">Your Email Address</a></li>
      </ul>

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
