<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <!--{% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}-->

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">View <strong>Github</strong></a></li>
          <li><a href="{{ site.linkedin }}">Follow me <strong>LinkedIn</strong></a></li>
          <li><a href="{{ site.email }}">Contact me <strong>Email</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      <h1>Portfolio</h1>

      <h2>About Me</h2>
      <p>
         A final-year Bachelor of Information Technology (BIT) student with a strong foundation in Information Assurance and Security (IAaS) complemented by a minor in Business Intelligence and Analytics (BIA). Passionate about creating robust and secure digital environments. As an active participant in university life, I have consistently engaged in collaborative projects, demonstrating my strong team-player ethos. With a passion for continuous learning, I eagerly embrace new challenges to expand my skill set and contribute effectively to both academic and extracurricular initiatives. 
      </p>
  
      <h2>Skills</h2>
      <h3>Web Development</h3>
      <ul>
          <li>HTML, CSS, JavaScript</li>
          <li>PHP and Laravel</li>
          <li>Risk Management</li>
          <li>IT audit</li>
      </ul>
  
      <h2>Projects</h2>
      <h3>Project 1: <a href="[Link to the project repository or live demo]">Web Application Security</a></h3>
      <p>
          Description: Detail your involvement in securing a web application, including tools used, vulnerabilities addressed, and security measures implemented.
      </p>
  
      <h3>Project 2: <a href="[Link to the project repository or live demo]">E-commerce Website</a></h3>
      <p>
          Description: Highlight your role in developing a secure e-commerce website, emphasizing secure authentication, data protection, and secure payment processing.
      </p>
  
      <h2>Certifications</h2>
      <ul>
          <li>CISCO: CCNAv7 Introduction to Networks</li>
          <li>Security Blue Team: Introduction to Threat Hunting</li>
      </ul>
  
      
  
    

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
